<a href="https://colab.research.google.com/github/AndrewPochapsky/2D-Tower-Defence/blob/master/ChatBot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import torch
from fastai.text import *
from pathlib import Path

In [0]:
base_path = Path('drive/My Drive/datasets/cornell movie-dialogs corpus')

In [0]:
table = []
with open(base_path/'movie_lines.txt', encoding = 'ISO-8859-1') as f:
    for line in f:
        parts = line.split(' +++$+++ ')
        table.append([parts[0], parts[-1]])
        
movie_lines_df = pd.DataFrame(table, columns = ['LineNum', 'text'])

In [7]:
movie_lines_df.head()

  LineNum            text
0   L1045  They do not!\n
1   L1044   They do to!\n
2    L985    I hope so.\n
3    L984     She okay?\n
4    L925     Let's go.\n